<div class="container">
	<div class="row" id="original">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<h2 class="text-center quiz" id="<%= @quiz.id %>"><%= @quiz.title %></h2>
			<h5 class="text-center">by: <%= User.find(@quiz.user_id).first_name %>
			<%= User.find(@quiz.user_id).last_name %></h5>
			<br>
        <div class="edit-delete text-center">
          <%= link_to "", edit_quiz_path(@quiz), class: "glyphicon glyphicon-edit", style: "margin-right: 10px" %>
          <%= link_to "", quiz_path(@quiz), method: :delete, class: "glyphicon glyphicon-trash" %>
        </div>
        <br>
			<div id='quiz-body', style="border-top: 3px solid black; padding-top: 10px; border-bottom: 3px solid black; padding-bottom: 10px">
				<p class='current_user' id='<%= @current_user.id %>' style='display:none'></p>
				<%= simple_format(@quiz.content) %>
			</div>
      <div class="save-read">
        <button class="btn btn-primary pull-right" id="quiz-btn">Take Quiz</button>
      </div>
    </div>
  </div>
</div>

<!-- below will show the blanked content and the input fields for answers -->

<div class="col-xs-12 col-sm-6 col-sm-offset-3" id="altered-original" style="display:none">
    <h2 class="text-center quiz" id="<%= @quiz.id %>"><%= @quiz.title %></h2>
    <h5 class="text-center">by: <%= User.find(@quiz.user_id).first_name %>
    <%= User.find(@quiz.user_id).last_name %></h5>
    <br>
		<div class="text-area" style="border-top: 3px solid black; padding-top: 10px; border-bottom: 3px solid black; padding-bottom: 10px; line-height: 2em">
		</div>	
		<button class="btn btn-primary pull-right" id="im-done">I'm Done!</button>
	</div>
</div>

<script>

	$(document).ready(function(){
	
		keywordsOrRandom("<%= @quiz.content %>", "<%= @quiz.keyword %>");

		keypress(); // this starts the event listener on the input fields that check the answer against the expected answer with each keypress
	}); // document.ready
</script>