<div class="container">
	<div class="row" id="original">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<h1 class="text-center"><%= @quiz.title %></h1>
			<h4 class="text-center">by: <%= User.find(@quiz.user_id).first_name %>
			<%= User.find(@quiz.user_id).last_name %></h4>
			<br>
        <div class="edit-delete text-center">
          <%= link_to "", edit_quiz_path(@quiz), class: "glyphicon glyphicon-edit", style: "margin-right: 10px" %>
          <%= link_to "", quiz_path(@quiz), method: :delete, class: "glyphicon glyphicon-trash" %>
        </div>
        <br>
			<div id='quiz-body', style="border-top: 3px solid black; padding-top: 10px; border-bottom: 3px solid black; padding-bottom: 10px">
				<%= simple_format(@quiz.content) %>
			</div>
      <div class="save-read">
        <button class="btn btn-primary pull-right" id="quiz-btn">Take Quiz</button>
      </div>
    </div>
  </div>
</div>




<!-- below will show the blanked content and the input fields for answers -->

<div class="row" id="altered-original" style="display:none">
	<div class="col-xs-6">
		<div class="text-area">
		</div>	
	</div>
	<div class="col-xs-6">
		<form class="my-form" id="target-form">
			<div class="block-stack">
			</div>
			<button>Submit</button>
		</form>		
	</div>
</div>



<script>

	$(document).ready(function(){

		// this line is for taking in the form's content and keywords:
		makeBlankedText("<%= @quiz.content %>", "<%= @quiz.keyword %>"); //seeds our page with info and blanks, will need to be called on a create quiz button from Quiz#new

		// this line is to trigger the RANDOM Version
		// randBlankedText(3, "<%= @quiz.content %>");	

		keypress(); // this starts the event listener on the input fields that check the answer against the expected answer with each keypress
	}); // document.ready

	// buildNestedArray takes in an array of text and a target string of keywords and builds a nested array of [index, 'word'] arrays that are used in the larger functions.	
	var buildNestedArray = function(stringContent, stringKeyWords) {
		var huntingArray = stringKeyWords.split(' '); //turns the string of target words into an array of string
		var contentArray = stringContent.match(/[\w-']+|[^\w]+/g);
		var outerArray = [];
		for (i=0; i<contentArray.length; i+=1) {
			// double loop works through array of content with array of target words to find indexes and build nested array
			for (j = 0; j<huntingArray.length; j+=1) {
				if (huntingArray[j] == contentArray[i]) {
					result = [i, huntingArray[j]];
					outerArray.push(result);
				}
			}
		}
		return outerArray;
	};

	// this builds a nested array of the randomly selected words and their index in the array. It also checks to make sure they are longer than a set length and have not already been selected previously.
	var randomNestedBuild = function(num, string) {
		var contentArray = string.match(/[\w-']+|[^\w]+/g);
		var selectedWords = [];
		for (i=0; selectedWords.length<num; i+=1) {
		    var selected = pickANumber(contentArray);
		    
		    if (contentArray[selected].length < 3) {
		        // console.log("selected is ", selected );
		        // console.log("selected word is ", contentArray[selected] );
		        console.log("too short");
		    } else if (alreadyInArray(selected, selectedWords)) {
		        // console.log("selected is ", selected);
		        // console.log("selected word is ", contentArray[selected]);
		        console.log("this word has already been randomly selected previously.");
		    } else {
		        // console.log("selected is ", selected );
		        // console.log("selected word is ", contentArray[selected] );
		        console.log("long enough");
		        var innerArray = [];
		        innerArray.push(selected);
		        innerArray.push(contentArray[selected]);
		        selectedWords.push(innerArray);
		    }
		}
		return selectedWords;
	};

	// sortNestedArray takes a nested array of [index,'word'] pairs and then orders them within the larger array from lowest index to largest
	var sortNestedArray = function(arr) {
		arr.sort(function(a, b) {
			return a[0] - b[0];
		});
		return arr;
	};

	// pickANumber chooses a random number that will correspond to one of the indexes in the array
	var pickANumber = function(arr) {
    // selects and holds onto a random number
		var rando = Math.floor(Math.random() * arr.length);
		return rando;       
  };

  // alreadyInArray checks to see if the randomly selected word is already in the array of random words or not.
  var alreadyInArray = function(num, arr) {
	  for (i=0; i<arr.length; i+=1) {
      if (num == arr[i][0]) {
        return true;
      }
	  }
	};

	// fromNestedArrToDOM takes in the string of content and the nested array and then builds the blanked form and appends it to the DOM
	var fromNestedArrToDOM = function(stringContent, nestedArr) {
		var arr = stringContent.match(/[\w-']+|[^\w]+/g);
		var nestedArrSorted = sortNestedArray(nestedArr);
		var num = 1;
		for (i=0;i<nestedArr.length; i+=1) {
			var indexOut = nestedArrSorted[i][0]; //grabs index from target array
			var wordOut = nestedArrSorted[i][1]; //grabs word from target array
			var numberIn = "<input type='text' name='answer' placeholder='" + num + "' data-answer='" + wordOut + "'>";
			var arrBlanked = arr;
			arrBlanked[indexOut] = numberIn; //replaces the word at the target array index with a numbered blank
			arrJoined = arrBlanked.join(''); //joined the array back into a string
			num++;
		}
		// j querrry to throw the blanked text onto the page
		$('.text-area').append(arrJoined);	
	};

	// makeBlankedText builds the blanked text on the page using all the other functions
	var makeBlankedText = function(stringContent, stringKeyWords) {
		var nestedArr = buildNestedArray(stringContent, stringKeyWords); //turn keyword string into nested array of keywords with 
		// var stringC = stringContent;
		fromNestedArrToDOM(stringContent, nestedArr);
	};

	// randBlankedText creates blanks and forms with randomly selected words instead of targeted keywords.
	var randBlankedText = function(num, stringContent) {
			var nestedArr = randomNestedBuild(num, stringContent);
			// var stringC = stringContent;
			fromNestedArrToDOM(stringContent, nestedArr);
	};

	//keypress function listens for a keyup in the event and checks the field agains the answer it is expecting, which is stored in that input field's data-answer field
	function keypress() {
		$("input[name='answer'").keyup(function(e) { //this looks to the input form and checks it against theKeyword after each key is pressed (and lifted up)
			var theAnswer = $(this).attr('data-answer').toLowerCase(); //this saves the word we want to have them type
			var theKeyword = $(this).val().toLowerCase(); // this reads the word they are typing SO FAR (on each keyup)
		if (theAnswer == theKeyword) {
			//add class to the input field that CORRECT ANSWER will turn the glow green via css
			$(this).addClass('green-glow');
		} else {
			// make sure green-glow is gone unless the correct answer is entered
			$(this).removeClass('green-glow');
		}
		});
	}



</script>