
<div class="col-md-4 col-md-offset-4" id="new-form">
  <h1 class="text-center">Sign Up</h1>
  <%= form_for @user, url: '/users' do |f| %>
    <%= f.text_field :first_name, class: "form-control", placeholder: "FIRST NAME" %>
    <br>
    <%= f.text_field :last_name, class: "form-control", placeholder: "LAST NAME" %>
    <br>
    <%= f.text_field :username, class: "form-control", placeholder: "USER NAME" %>
    <br>
    <%= f.text_field :email, class: "form-control", placeholder: "EMAIL" %>
    <br>
    <%= f.password_field :password, class: "form-control", placeholder: "PASSWORD" %>
    <br>
    <div>
      <%= f.submit "Sign Up", class: "btn", id:"sign-up-btn" %>
    </div>
  <% end %>  
</div>
