<div class="container">
      <!-- left column -->
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="text-center navigation-left">
          <% if !@user.image %>
          <img src="//placehold.it/200" class="avatar img-circle" alt="avatar">
          <% else %>
          <%= image_tag @user.image.url(:thumb) %>
          <% end %>
          <h2>Welcome, <%= @user.first_name %></h2>
          <h5>Joined: <%= @user.created_at %></h5>
        </div>
      </div>


      <div class="col-md-8 col-md-offset-1">
    		<div class="col-md-6">
    		<h1 class="text-center">Created</h1>
    			<hr>
    			<% @user.quizzes.each do |quiz| %>
    				<li type="none"><h3 class="quiz-title"><%= link_to quiz.title, quiz_path(quiz.id) %></h3></li>
    				<hr>
    			<% end %>
    		</div>
    		
        <div class='col-md-6'>
    		  <h1 class="text-center">Taken</h1>
    		  <hr>
    		  <% @user.quizzes.each do |quiz| %>
    		  	<li type="none"><h3 class="quiz-title"><%= link_to quiz.title, quiz_path(quiz.id) %></h3></li>
    			 <hr>
    		  <% end %>
    		</div>
      </div>
      
</div>